<h1>Resend unlock instructions</h1>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-horizontal width-large"}) do |f| %>
<%= f.input :email %>
<div class="form-actions">
    <%= f.button :submit, "再設定メール", class: "btn-primary" %>
</div>
<% end %>

<%= render "users/shared/links" %>
