@import "bootstrap";

$link_color: #4a5b9a;
$link_hover_color: #162458;
$background_color: #f8f8f8;
$footer_color: #333333;

a {
  color: $link_color;
  &:visited {
    color: $link_color;
  }
  &:hover {
    color: $link_hover_color;
    background-color: transparent;
    text-decoration: none;
  }
}

body{
    padding: 0;
    background-color:$background_color;
}

.inner{
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}

.header{
  padding: 10px 20px;
}

.sidebar{
  background-color: #eeeeee;
  width: 190px;
  float: left;
  padding: 10px;
  min-height: 600px;
  @media screen and (max-width: 900px) {
    width: 20%;
  }
  @media screen and (max-width: 600px) {
    width: 100%;
    min-height: 0;
  }
}

.content{
  background-color: #ffffff;
  padding: 10px 20px;
  min-height: 600px;
  width: 700px;
  float: right;
  @media screen and (max-width: 900px) {
    width: 80%;
  }
  @media screen and (max-width: 600px) {
    width: 100%;
    min-height: 0;
  }
}

.footer{
  top: 20px;
  margin-bottom:20px;
  text-align: center;
  z-index: -1;
}
