@import "bootstrap";

$link_color: #4a5b9a;
$link_hover_color: #162458;
$background_color: #f8f8f8;
$footer_color: #333333;
$sidebar-background_color: #525d83;

@mixin border_radius($value: 4px) {
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  -ms-border-radius: $value;
  border-radius: $value;
}

h1{
  font-size:22px;
  line-height:24px;
}

h1, h2, h3{
  margin-top:15px;
}

ul {
  margin-left: -1em;
}

a {
  color: $link_color;
  &:visited {
    color: $link_color;
  }
  &:hover {
    color: $link_hover_color;
    background-color: transparent;
    text-decoration: none;
  }
  &.btn-primary{
    color: #285e8e;
  }
  &.btn-danger{
    color: #d43f3a;
  }
  &.btn-success{
    color: #398439;
  }
}

.btn{
  background-color:#ffffff;
}

body{
    padding: 0;
    background-color:$background_color;
}

.inner{
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}

.header{
  padding: 10px 20px;
}

.navbutton-container{
  @media screen and (min-width: 400px) {
    position: absolute;
    right: 5px;
    margin-top: -40px;
  }
}

.content{
  overflow: hidden;
}

.content-sidebar{
  background-color: $sidebar-background_color;
  color: #f8f8f8;
  width: 190px;
  float: left;
  padding: 10px;
  min-height: 600px;
  padding-bottom: 32768px;
  margin-bottom: -32768px;
  @media screen and (min-width: 900px) {
    @include border_radius();
  }
  @media screen and (max-width: 900px) {
    width: 20%;
  }
  @media screen and (max-width: 600px) {
    width: 100%;
    margin-bottom: 0px;
    padding: 10px;
    min-height: 20px;
  }
}

.content-main{
  background-color: #ffffff;
  padding: 15px;
  min-height: 600px;
  width: 700px;
  float: right;
  @media screen and (min-width: 900px) {
    @include border_radius();
  }
  @media screen and (max-width: 900px) {
    width: 80%;
  }
  @media screen and (max-width: 600px) {
    width: 100%;
    min-height: 0;
  }
}

.footer{
  top: 20px;
  margin-bottom:20px;
  text-align: center;
  z-index: -1;
}
